
h1{
	font-family: Didot;
	color: fuchsia;
	text-align: center;
}



body {
	font-family: Didot;
	color: black;
	background: url(https://media.istockphoto.com/vectors/seamless-pattern-bubble-tea-vector-id1177450328?k=20&m=1177450328&s=612x612&w=0&h=Y2HRebOfX0oilswdlr_ga-VxkZK7tcwk4gnMFQEO178=);
}

.mainnav {
	background-color: #2F8478;
	overflow: hidden;
}
.mainnav text {
	float: left;
	color : fuchsia;
	text-align: center;
	padding: 14px 18px;
	font-size: 30px;
}
.mainnav text:hover {
	
	color: fuchsia;
}
.mainnav window {
	
	color: fuchsia;
}

