<style>
h1{
	font-family: Didot;
	color: fuchsia;
	text-align: center;
}



body {
	font-family: Didot;
	color: black;
	background: url(bobaback.png);
}

.mainnav {
	background-color: #2F8478;
	overflow: hidden;
}
.mainnav text {
	float: left;
	color : fuchsia;
	text-align: center;
	padding: 14px 18px;
	font-size: 30px;
}
.mainnav text:hover {
	
	color: fuchsia;
}
.mainnav window {
	
	color: fuchsia;
}

</style>
